.field-1 {
  border-right: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
  border-bottom: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}

.field-2 {
  border-right: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
  border-bottom: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}

.field-3 {
  border-bottom: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}

.field-4 {
  border-right: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
  border-bottom: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}

.field-5 {
  border-right: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
  border-bottom: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}

.field-6 {
  border-bottom: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}

.field-7 {
  border-right: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}

.field-8 {
  border-right: var(--game-board-border-thickness) dashed
    var(--game-board-border-color);
}
